{{ $page := . }}

{{ $isEnabled := $page.Params.widgets.categories.isEnabled | default $page.Site.Params.widgets.categories.isEnabled | default false }}
{{ $iconIsEnabled := $page.Params.widgets.categories.icon.isEnabled | default $page.Site.Params.widgets.categories.icon.isEnabled | default false }}
{{ $iconPack := $page.Params.widgets.categories.icon.pack | default $page.Site.Params.widgets.categories.icon.pack | default "fas" }}
{{ $iconName := $page.Params.widgets.categories.icon.name | default $page.Site.Params.widgets.categories.icon.name | default "dot-circle" }}
{{ $iconColor := $page.Params.widgets.categories.icon.color | default $page.Site.Params.widgets.categories.icon.color | default "primary" }}

{{ if $isEnabled }}
    {{ $categories := $page.GetTerms "categories" }}
    {{ if gt (len $categories) 0 }}
        {{ if $iconIsEnabled }}
            <div class="field is-grouped is-grouped-multiline widget-categories">
            {{ range $category := $categories }}
                <div class="control">
                    <div class="tags has-addons">
                        <span class="tag{{ with $iconColor }} is-{{ . }}{{ end }}"><i class="{{ with $iconPack }}{{ . }}{{ end }}{{ with $iconName }} fa-{{ . }}{{ end }}"></i></span>
                        <span class="tag"><a href="{{ $category.RelPermalink }}" title="{{ $category.LinkTitle }}">{{ $category.LinkTitle }}</a></span>
                    </div>
                </div>
            {{ end }}
            </div>
        {{ else }}
            <div class="widget-categories">
                {{ range $index, $category := $categories }}
                    <span class="category"><a href="{{ $category.RelPermalink }}" title="{{ $category.LinkTitle }}">{{ $category.LinkTitle }}</a></span>
                    {{ if ne (add $index 1) (len $categories) }}
                    &nbsp;|&nbsp;
                    {{ end }}
                {{ end }}
            </div>
        {{ end }}
    {{ end }}
{{ end }}
