{{ $page := . }}

{{ $isEnabled := $page.Params.widgets.content.isEnabled | default $page.Site.Params.widgets.content.isEnabled | default false }}
{{ $isBannerEnabled := $page.Params.widgets.content.isBannerEnabled | default $page.Site.Params.widgets.content.isBannerEnabled | default false }}
{{ $isCategoriesEnabled := $page.Params.widgets.content.isCategoriesEnabled | default $page.Site.Params.widgets.content.isCategoriesEnabled | default false }}
{{ $isTagsEnabled := $page.Params.widgets.content.isTagsEnabled | default $page.Site.Params.widgets.content.isTagsEnabled | default false }}

{{ if $isEnabled }}
    {{ if or (and $isBannerEnabled $page.Params.banner) $page.Content }}
        <section class="section widget-content">
            <div class="container">
                <article class="content">
                    {{ if and $isBannerEnabled $page.Params.banner }}
                        <img src="{{ $page.Params.banner | relURL }}" alt="{{ $page.Title }}">
                    {{ end }}
                    {{ if $page.Content }}
                        {{ $page.Content }}
                    {{ end }}
                    {{ if or $isCategoriesEnabled $isTagsEnabled }}
                        {{ if or (gt (len $page.Params.categories) 0) (gt (len $page.Params.tags) 0) }}
                            <hr />
                            <footer>
                                {{ if $isCategoriesEnabled }}
                                    {{ partial "widgets/categories.html" $page }}
                                {{ end }}
                                {{ if $isTagsEnabled }}
                                    {{ partial "widgets/tags.html" $page }}
                                {{ end }}
                            </footer>
                        {{ end }}
                    {{ end }}
                </article>
            </div>
        </section>
    {{ end }}
{{ end }}
