{{ $page := . }}

{{ $isEnabled := $page.Params.widgets.related.isEnabled | default $page.Site.Params.widgets.related.isEnabled | default false }}
{{ $sections := $page.Params.widgets.related.sections | default $page.Site.Params.widgets.related.sections | default slice }}
{{ $numberOfRecords := $page.Params.widgets.related.numberOfRecords | default $page.Site.Params.widgets.related.numberOfRecords | default 6 }}
{{ $isVertical := $page.Params.widgets.related.isVertical | default $page.Site.Params.widgets.related.isVertical | default false }}
{{ $numberOfRecordsPerRow := $page.Params.widgets.related.numberOfRecordsPerRow | default $page.Site.Params.widgets.related.numberOfRecordsPerRow | default 3 }}
{{ if gt $numberOfRecordsPerRow $numberOfRecords }}
    {{ $numberOfRecordsPerRow = $numberOfRecords}}
{{  end }}

{{ $pages := $page.Site.RegularPages.Related $page  }}
{{ if gt (len $sections) 0 }}
    {{ $pages = where $pages "Type" "in" $sections }}
{{ end }}

{{ if and $isEnabled (gt (len $pages) 0) }}
    <section class="section widget-related{{ if $isVertical }} is-vertical{{ end }}">
        <div class="container">
            <h2 class="title is-6">{{ i18n "widget_related"}}</h2>
            <hr>
            {{ if $isVertical }}
                <div class="tile is-ancestor">
                    <div class="tile is-vertical is-parent">
                        {{ range $item := first $numberOfRecords $pages }}
                            <article class="tile is-child box">
                                {{ if $item.Params.banner }}
                                    <a href="{{ $item.Params.externalLink | default $item.RelPermalink }}" title="{{ $item.Title | default $item.LinkTitle }}">
                                        <img class="banner" src="{{ $item.Params.banner | relURL }}" alt="{{ $item.Title | default $item.LinkTitle }}">
                                    </a>
                                    <h3 class="title is-6 pt-2"><a href="{{ $item.Params.externalLink | default $item.RelPermalink }}" title="{{ $item.Title | default $item.LinkTitle }}">{{ $item.LinkTitle }}</a></h3></header>
                                {{ else }}
                                    <h3 class="title is-6"><a href="{{ $item.Params.externalLink | default $item.RelPermalink }}" title="{{ $item.Title | default $item.LinkTitle }}">{{ $item.LinkTitle }}</a></h3>
                                    <p class="subtitle is-7">{{ $item.Params.summary | default $item.Summary }}</p>
                                {{ end }}
                            </article>
                        {{ end }}
                    </div>
                </div>
            {{ else }}
                {{ range $index, $item := first $numberOfRecords $pages }}
                    {{ if eq (mod $index $numberOfRecordsPerRow) 0 }}
                        <div class="tile is-ancestor">
                    {{ end }}
                            <div class="tile is-parent">
                                <article class="tile is-child box">
                                    {{ if $item.Params.banner }}
                                        <a href="{{ $item.Params.externalLink | default $item.RelPermalink }}" title="{{ $item.Title | default $item.LinkTitle }}">
                                            <img class="banner" src="{{ $item.Params.banner | relURL }}" alt="{{ $item.Title | default $item.LinkTitle }}">
                                        </a>
                                        <h3 class="title is-6 pt-2"><a href="{{ $item.Params.externalLink | default $item.RelPermalink }}" title="{{ $item.Title | default $item.LinkTitle }}">{{ $item.LinkTitle }}</a></h3></header>
                                    {{ else }}
                                        <h3 class="title is-6"><a href="{{ $item.Params.externalLink | default $item.RelPermalink }}" title="{{ $item.Title | default $item.LinkTitle }}">{{ $item.LinkTitle }}</a></h3>
                                        <p class="subtitle is-7">{{ $item.Params.summary | default $item.Summary }}</p>
                                    {{ end }}
                                </article>
                            </div>
                    {{ if eq (mod (add $index 1) $numberOfRecordsPerRow) 0 }}
                        </div>
                    {{ end }}
                {{ end }}
            {{ end }}
        </div>
    </section>
{{ end }}
