{{ $page := . }}

{{ $isEnabled := $page.Params.widgets.tableOfContents.isEnabled | default $page.Site.Params.widgets.tableOfContents.isEnabled | default false }}
{{ $isSticky := $page.Params.widgets.tableOfContents.isSticky | default $page.Site.Params.widgets.tableOfContents.isSticky | default false }}

{{ if $isEnabled }}
    <section class="section widget-table-of-contents{{ if $isSticky }} is-sticky{{ end }}">
        <div class="container">
            <aside class="table-of-contents">
                <h6 class="title is-6">{{ i18n "table_of_contents" }}</h6>
                {{ $page.TableOfContents }}
            </aside>
        </div>
    </section>
{{ end }}
