{{ define "main" }}

{{ $page := . }}

{{ $layout := $page.Params.templates.single.layout | default $page.Site.Params.templates.single.layout | default 0 }}
{{ $tableOfContentsIsEnabled := $page.Params.widgets.tableOfContents.isEnabled | default $page.Site.Params.widgets.tableOfContents.isEnabled | default false }}
{{ $relatedIsEnabled := $page.Params.widgets.related.isEnabled | default $page.Site.Params.widgets.related.isEnabled | default false }}
{{ $recentlyIsEnabled := $page.Params.widgets.recently.isEnabled | default $page.Site.Params.widgets.recently.isEnabled | default false }}

<main class="main" role="main">

    {{ partial "widgets/breadcrumb.html" $page }}

    {{ if eq $layout 1 }}
        <div class="section single-layout-1">
            <div class="container">
            {{ if or $tableOfContentsIsEnabled (or $relatedIsEnabled $recentlyIsEnabled) }}
                <div class="columns">
                    <div class="column">
                        {{ partial "widgets/content.html" $page }}
                    </div>
                    <div class="column is-3">
                        {{ partial "widgets/tableofcontents.html" $page }}
                        {{ partial "widgets/related.html" $page }}
                        {{ partial "widgets/recently.html" $page }}
                    </div>
                </div>
            {{ else }}
                {{ partial "widgets/content.html" $page }}
            {{ end }}
            </div>
        </div>
    {{ else if eq $layout 2 }}
        <div class="section single-layout-2">
            <div class="container">
            {{ if or $tableOfContentsIsEnabled (or $relatedIsEnabled $recentlyIsEnabled) }}
                <div class="columns">
                    <div class="column is-3">
                        {{ partial "widgets/tableofcontents.html" $page }}
                        {{ partial "widgets/related.html" $page }}
                        {{ partial "widgets/recently.html" $page }}
                    </div>
                    <div class="column">
                        {{ partial "widgets/content.html" $page }}
                    </div>
                </div>
            {{ else }}
                {{ partial "widgets/content.html" $page }}
            {{ end }}
            </div>
        </div>
    {{ else if eq $layout 3 }}
        <div class="container single-layout-3">
            {{ if or $tableOfContentsIsEnabled }}
                <div class="columns">
                    <div class="column">
                        {{ partial "widgets/content.html" $page }}
                    </div>
                    <div class="column is-3">
                        {{ partial "widgets/tableofcontents.html" $page }}
                    </div>
                </div>
            {{ else }}
                {{ partial "widgets/content.html" $page }}
            {{ end }}
            {{ partial "widgets/related.html" $page }}
            {{ partial "widgets/recently.html" $page }}
        </div>
    {{ else if eq $layout 4 }}
        {{ partial "widgets/related.html" $page }}
        {{ partial "widgets/recently.html" $page }}
        <div class="section single-layout-4">
            <div class="container">
            {{ if or $tableOfContentsIsEnabled }}
                <div class="columns">
                    <div class="column">
                        {{ partial "widgets/content.html" $page }}
                    </div>
                    <div class="column is-3">
                        {{ partial "widgets/tableofcontents.html" $page }}
                    </div>
                </div>
            {{ else }}
                {{ partial "widgets/content.html" $page }}
            {{ end }}
            </div>
        </div>
    {{ end }}
</main>
{{ end }}
