{{ define "main" }}
{{ $page := . }}
<main class="main" role="main">
    {{ partial "breadcrumb.html" $page }}
    <section class="section">
        <div class="container">
            {{ if $page.Params.design.tableOfContents.isEnabled }}
                <div class="columns">
                    <div class="column is-8">
                        <article class="content">
                            {{ $page.Content }}
                            <footer>
                                {{ partial "tags.html" $page }}
                                {{ partial "categories.html" $page }}
                            </footer>
                        </article>
                    </div>
                     <div class="column">
                        {{ partial "tableofcontents.html" $page }}
                    </div>
                </div>
            {{ else }}
                <article class="content">
                    {{ $page.Content }}
                    <footer>
                        {{ partial "tags.html" $page }}
                        {{ partial "categories.html" $page }}
                   </footer>
                </article>
            {{ end }} 
        </div>
    </section>
    <section class="section">
        <div class="container">
            {{ partial "related.html" $page }}
        </div>
    </section>
</main>
{{ end }}
