{{ $shortcode := . }}

{{ if eq $shortcode.Parent nil }}
    {{ $message := printf "shortcodes/hero/head: could not be used alone at %s" $shortcode.Position }}
    {{ partial "functions/error.html" (dict "context" $shortcode "message" $message) }}
{{ else if ne $shortcode.Parent.Name "hero" }}
    {{ $message := printf "shortcodes/hero/head: could not be child of %q at %s" $shortcode.Parent.Name $shortcode.Position }}
    {{ partial "functions/error.html" (dict "context" $shortcode "message" $message) }}
{{ else if eq $shortcode.Inner "" }}
    {{ $message := printf `shortcodes/hero/head: missing inner at %s` $shortcode.Position }}
    {{ partial "functions/error.html" (dict "context" $shortcode "message" $message) }}
{{ else }}
    <div class="hero-head">
        {{ $shortcode.Inner }}
    </div>
{{ end }}
