// colors
{{ with .Param "design.colors.primary" }}
$primary: {{ . }};
{{ end }}
{{ with .Param "design.colors.link" }}
$link: {{ . }};
{{ end }}
{{ with .Param "design.colors.info" }}
$info: {{ . }};
{{ end }}
{{ with .Param "design.colors.success" }}
$success: {{ . }};
{{ end }}
{{ with .Param "design.colors.warning" }}
$warning: {{ . }};
{{ end }}
{{ with .Param "design.colors.danger" }}
$danger: {{ . }};
{{ end }}
{{ with .Param "design.colors.light" }}
$light: {{ . }};
{{ end }}
{{ with .Param "design.colors.dark" }}
$dark: {{ . }};
{{ end }}

// radiusless
{{ if .Param "design.isRadiusless" }}
$radius: 0px;
$radius-small: 0px;
$radius-large: 0px;
{{ end }}

// navbar height
{{ with .Param "design.navbar.logo.height" }}
$navbar-item-img-max-height: {{ printf "%s * 0.0625" (strings.TrimSuffix "px" .) }}rem;
{{ if not ($.Param "design.navbar.isSpaced") }}
$navbar-height: {{ printf "%s * 0.0625 + 1" (strings.TrimSuffix "px" .) }}rem;
{{ else }}
$navbar-height: {{ printf "%s * 0.0625 + 2" (strings.TrimSuffix "px" .) }}rem;
{{ end }}
{{ end }}


{{ with .Param "design.footer.isPaddingless" }}
$footer-padding: 0;
{{ end }}

@import "../../node_modules/bulma/bulma.sass";

// logo
.logo {
  &.is-header {
    {{ with .Param "design.navbar.logo.width" }}
    width: {{ strings.TrimSuffix "px" . }}px;
    {{ end }}
    {{ with .Param "design.navbar.logo.height" }}
    height: {{ strings.TrimSuffix "px" . }}px;
    {{ end }}
  }
  &.is-footer {
    {{ with .Param "design.footer.logo.width" }}
    width: {{ strings.TrimSuffix "px" . }}px;
    {{ end }}
    {{ with .Param "design.footer.logo.height" }}
    height: {{ strings.TrimSuffix "px" . }}px;
    {{ end }}
  }
}

.navbar-brand {
  a {
    color: $primary;
    cursor: pointer;
    &:hover {
      color: $primary;
      text-decoration: none;
    }
  }  
}

.brand {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  margin-left: 12px;
  .brand-title {
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
    font-weight: 700; 
  }
  .brand-tagline {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 500; 
  }
}

{{ if or (.Param "design.navbar.menu.leftMargin") (.Param "design.navbar.menu.leftMargin") }}
.navbar-menu {
{{ with .Param "design.navbar.menu.leftMargin" }}
  margin-left: {{ . }};
{{ end }}
{{ with .Param "design.navbar.menu.leftMargin" }}
  margin-right: {{ . }};
{{ end }}
}
{{ end }}

footer nav dl {
  dt {
    margin-bottom: 1rem; 
  }
  dd {
    margin-bottom: 0.5rem; 
  }
}

// back to top
.back-to-top {
  position: fixed;
  bottom: {{ .Param "design.backToTop.bottom" | default "1.5rem" }};
  right: {{ .Param "design.backToTop.right" | default "1.5rem" }};
  z-index: 9999;
}
  
// table of contents
.table-of-contents {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 1px solid $light;
  ul {
    margin-left: 0.5rem;
    li {
      list-style-type: none;
    }
  }
  &.is-sticky {
    position: sticky;
    top: {{ .Param "design.tableOfContents.top" | default "$navbar-height" }};
  }
}
