{{ $page := . }}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- author begin -->
{{ $author := $page.Params.author | default $page.Site.Params.author }}
{{ with $author }}
    <meta name="author" content="{{ . }}">
{{ end }}
<!-- author end -->

<!-- SEO begin -->
{{ $keywords := (delimit $page.Keywords ",") | default $page.Site.Params.keywords }}
{{ with $keywords }}
    <meta name="keywords" content="{{ . }}">
{{ end }}
{{ $description := $page.Description | default $page.Params.summary | default $page.Summary | default $page.Site.Params.description }}
{{ with $description }}
    <meta name="description" content="{{ . }}">
{{ end }}
{{ $title := printf "%s | %s " $page.Title $page.Site.Title }}
{{ $title = strings.TrimLeft " | " $title}}
{{ with $title }}
    <title>{{ $title }}</title>
{{ end }}
<link rel="canonical" href="{{ $page.Params.canonical | default $page.Permalink }}">
<!-- SEO end -->

<!-- alternate outputs begin -->
{{ range $page.AlternativeOutputFormats }}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ $title }}">
{{ end }}
<!-- alternate outputs end -->

<!-- i18n begin -->
{{ if $page.IsTranslated }}
    {{ range .Translations }}
        <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}">
    {{ end }}
    <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}">
{{ end }}
<!-- i18n end -->

<!-- social begin -->
<!-- Twitter Card and Open Graph -->
{{ template "_internal/opengraph.html" $page }}
{{ template "_internal/twitter_cards.html" $page }}
<!-- social cards end -->

<!-- favicon begin -->
{{ $icon16 := (partial "functions/favicon.html" (dict "context" $page "size" 16)) }}
{{ with $icon16 }}
    <link rel="icon" type="image/png" sizes="16x16" href="{{ .RelPermalink }}">
{{ end }}
{{ $icon32 := (partial "functions/favicon.html" (dict "context" $page "size" 32)) }}
{{ with $icon32 }}
<link rel="icon" type="image/png" sizes="32x32" href="{{ .RelPermalink }}">
{{ end }}
{{ $icon180 := (partial "functions/favicon.html" (dict "context" $page "size" 180)) }}
{{ with $icon180 }}
<link rel="apple-touch-icon" sizes="180x180" href="{{ .RelPermalink }}">
{{ end }}
<link rel="manifest" href="{{ "index.webmanifest" | relLangURL }}">
<!-- favicon end -->

<!-- Extensions begin (load assets form local in `static/vendors/` if possible, or from cdn) -->
{{ range $key, $extension := $page.Site.Data.extensions }}
    {{ $name := replaceRE `^\d*-?(.*)$` "$1" $key }}
    {{ $isEnabled := not $extension.switches }}
    {{ if not $isEnabled }}
        {{ range $switch := $extension.switches }}
            {{ if and (not $isEnabled) ($page.Param $switch) }}
                {{ $isEnabled = true }} 
            {{ end }}
        {{ end }}
    {{ end }}
    {{ if $isEnabled }}
        {{ range $key, $style := $extension.styles }}
            {{ $path := printf "vendors/%s/%s" (lower $name) (path.Base $style.url) }}
            {{ $fullPath := printf "static/%s" $path }} 
            {{ if fileExists $fullPath }}
                <link rel="stylesheet" href="{{ $path | relURL }}">
            {{ else }}
                <link rel="stylesheet" href="{{ $style.url }}"{{ with $style.sri }} integrity="{{ . }}" crossorigin="anonymous"{{ end }}>
            {{ end }}
        {{ end }}
        {{ range $key, $script := $extension.scripts }}
            {{ $path := printf "vendors/%s/%s" (lower $name) (path.Base $script.url) }}
            {{ $fullPath := printf "static/%s" $path }} 
            {{ if fileExists $fullPath }}
                <script defer src="{{ $path | relURL }}"></script>
            {{ else }}
                <script defer src="{{ $script.url }}"{{ with $script.sri }} integrity="{{ . }}" crossorigin="anonymous"{{ end }}></script>
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}
<!-- Extensions end -->

<!-- Styles begin -->
<!--    check config error begin -->
{{ range $key, $style := $page.Site.Params.design.styles }}
    {{ if and (not $style.path) (not $style.url) }}
        {{ $message := printf `partials/head: invalid argument (path="" and url="") at config [params.design.styles.%s]` $key }}
        {{ partial "functions/error.html" (dict "context" $page "message" $message) }}
    {{ end }}
{{ end }}
<!--    check config error end -->
<!--    all.css begin : combine all local style files into one file (styles/all.css) -->
{{ $allCSS := slice }}
{{ $allCSSTarget := "styles/all.css" }}

<!-- prepared for more theme styles future -->
{{ $styles := slice "styles/main.scss" }}
{{ range $styles }}
    {{ $path := . }}
    {{ $css := resources.Get $path  | resources.ExecuteAsTemplate $path $page | resources.ToCSS | resources.PostCSS }}
    {{ $allCSS = $allCSS | append $css }}
{{ end }}

{{ range $key, $style := $page.Site.Params.design.styles }}
    {{ if $style.path }} {{/* local */}}
        {{ $fullPath := printf "assets/%s" $style.path }} 
        {{ if not (fileExists $fullPath) }}
            {{ $message := printf "partials/head: file not found (path=%q) at config [params.design.styles.local.%s]" $style.path $key }}
            {{ partial "functions/error.html" (dict "context" $page "message" $message) }}
        {{ else }}
            {{ $css := resources.Get $style.path  | resources.ExecuteAsTemplate $style.path $page | resources.ToCSS | resources.PostCSS }}
            {{ $allCSS = $allCSS | append $css }}
        {{ end }}
    {{ end }}
{{ end }}
{{ $localCSS := $allCSS | resources.Concat $allCSSTarget }}
{{ if hugo.IsProduction }}
    {{ $localCSS = $localCSS | resources.Minify | resources.Fingerprint | resources.PostProcess }}
{{ end }}
<link rel="stylesheet" href="{{ $localCSS.RelPermalink }}">
<!--    all.css end -->
<!--    cdn css begin -->
{{ range $key, $style := $page.Site.Params.design.styles }}
    {{ if $style.url }}
        <link rel="stylesheet" href="{{ $style.url }}"{{ with $style.sri }} integrity="{{ . }}" crossorigin="anonymous"{{ end }}>
    {{ end }}
{{  end }}
<!--    cdn css end -->
<!-- Styles end -->

<!-- Scripts begin -->
<!--    check config error begin -->
{{ range $key, $script := $page.Site.Params.design.scripts }}
    {{ if and (not $script.path) (not $script.url) }}
        {{ $message := printf `partials/head: invalid argument (path="" and url="") at config [params.design.scripts.%s]` $key }}
        {{ partial "functions/error.html" (dict "context" $page "message" $message) }}
    {{ end }}
{{ end }}
<!--    check config error end -->
<!--    all.js begin : combine all local script files into one file (scripts/all.js) -->
{{ $allJS := slice }}
{{ $allJSTarget := "scripts/all.js" }}

<!-- prepared for more theme scripts future -->
{{ $scripts := slice "scripts/main.jquery.js" }}
{{ range $scripts }}
    {{ $path := . }}
    {{ $js := resources.Get $path  | resources.ExecuteAsTemplate $path $page }}
    {{ $allJS = $allJS | append $js }}
{{ end }}
{{ range $key, $script := $page.Site.Params.design.scripts.local }}
    {{ if $script.path }}
        {{ $fullPath := printf "assets/%s" $script.path }} 
        {{ if not (fileExists $fullPath) }}
            {{ $message := printf "partials/head: file not found (path=%q) at config [params.design.scripts.%s]" $script.path $key }}
            {{ partial "functions/error.html" (dict "context" $page "message" $message) }}
        {{ else }}
            {{ $js := resources.Get $script.path | resources.ExecuteAsTemplate $script.path $page }}
            {{ $allJS = $allJS | append $js }}
        {{ end }}
    {{ end }}
{{ end }}
{{ $localJS := $allJS | resources.Concat $allJSTarget }}
{{ if hugo.IsProduction }}
    {{ $localJS = $localJS | resources.Babel | resources.Minify | resources.Fingerprint }}
{{ end }}
<script defer src="{{ $localJS.RelPermalink }}"></script>
<!--    all.js end -->
<!--    cdn js begin -->
{{ range $key, $script := $page.Site.Params.design.scripts.cdn }}
    {{ if $script.url }}
        <script defer src="{{ $script.url }}"{{ with $script.sri }} integrity="{{ . }}" crossorigin="anonymous"{{ end }}></script>
    {{ end }}
{{  end }}
<!--    cdn js end -->
<!-- Scripts end -->

<!-- google analytics/tag manager script begin -->
{{ partial "plugins/google_analytics.html" $page }}
{{ partial "plugins/google_tag_manager.html" $page }}
<!-- google analytics/tag manager script end -->

<!-- sharethis begin -->
{{ partial "plugins/sharethis.html" $page }}
<!-- sharethis end -->
