{{ $page := . }}
{{ $sections := $page.Site.Params.design.recently.sections }}
{{ $numberOfRecords := $page.Site.Params.design.recently.numberOfRecords | default 5 }}
{{ $pages := where $page.Site.RegularPages "Type" "in" $sections }}
{{ if gt (len $pages) 0 }}
    <section class="section is-paddingless">
        <div class="container">
            <h6 class="title is-6">{{ i18n "recently"}}</h6>
            <hr>
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-parent">
                {{ range first $numberOfRecords $pages }}
                    {{ $item := . }}
                    <article class="tile is-child box">
                        {{ if $item.Params.banner }}
                            <a href="{{ $item.Params.externalLink | default $item.RelPermalink }}" title="{{ $item.Title }}">
                                <img class="banner" src="{{ $item.Params.banner | relURL }}" alt="{{ $item.Title}}">
                            </a>
                            <h1 class="title is-6 pt-2"><a href="{{ $item.Params.externalLink | default $item.RelPermalink }}" title="{{ $item.Title }}">{{ $item.Title }}</a></h1></header>
                        {{ else }}
                            <h1 class="title is-6"><a href="{{ $item.Params.externalLink | default $item.RelPermalink }}" title="{{ $item.Title }}">{{ $item.Title }}</a></h1>
                            <p class="subtitle is-7">{{ $item.Params.summary | default $item.Summary }}</p>
                        {{ end }}
                    </article>
                {{ end }}
                </div>
            </div>
        </div>
    </section>
{{ end }}
