{{ $page := . }}
{{ $pages := $page.Site.RegularPages.Related $page  }}
{{ $numberOfRecords := $page.Site.Params.design.related.numberOfRecords | default 5 }}
{{ $numberOfRecordsPerRow := $page.Site.Params.design.related.numberOfRecordsPerRow | default 4 }}
{{ if gt (len $pages) 0 }}
    <section class="section pt-0">
        <div class="container">
            <h6 class="title is-6">{{ i18n "related"}}</h6>
            <hr>
            {{ range $index, $item := first $numberOfRecords $pages }}
                {{ if eq (mod $index $numberOfRecordsPerRow) 0 }}
                <div class="tile is-ancestor">
                {{ end }}
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        {{ if $item.Params.banner }}
                            <a href="{{ $item.Params.externalLink | default $item.RelPermalink }}" title="{{ $item.Title }}">
                                <img class="banner" src="{{ $item.Params.banner | relURL }}" alt="{{ $item.Title}}">
                            </a>
                            <h1 class="title is-6"><a href="{{ $item.Params.externalLink | default $item.RelPermalink }}" title="{{ $item.Title }}">{{ $item.Title }}</a></h1></header>
                        {{ else }}
                            <h1 class="title is-6"><a href="{{ $item.Params.externalLink | default $item.RelPermalink }}" title="{{ $item.Title }}">{{ $item.Title }}</a></h1>
                            <p class="subtitle is-7">{{ $item.Params.summary | default $item.Summary }}</p>
                        {{ end }}
                    </article>
                </div>
                {{ if eq (mod (add $index 1) $numberOfRecordsPerRow) 0 }}
                </div>
                {{ end }}
            {{ end }}
        </div>
    </section>
{{ end }}
