{{ $page := . }}
{{ $tags := $page.GetTerms "tags" }}
{{ if gt (len $tags) 0 }}
    <div class="field is-grouped is-grouped-multiline">
    {{ range $tag := $tags }}
        <div class="control">
            <div class="tags has-addons">
                <span class="tag is-link"><i class="fas fa-tag"></i></span>
                <span class="tag"><a href="{{ $tag.RelPermalink }}" title="{{ $tag.LinkTitle}}">{{ $tag.LinkTitle }}</a></span>
            </div>
        </div>
    {{ end }}
    </div>
{{ end}}

