{{ define "main" }}
{{ $page := . }}

<main class="main" role="main">
    <section class="hero is-primary is-medium">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1">{{ i18n "page_not_found" }}</h1>
                <h5 class="subtitle is-5">{{ i18n "page_not_found_recommendations" }}</h5>
            </div>
        </div>
    </section>
    {{ $sections := $page.Site.Params.design.page.error.recently.sections }}
    {{ $numberOfRecords := $page.Site.Params.design.page.error.recently.numberOfRecords }}
    {{ $numberOfRecordsPerRow := $page.Site.Params.design.page.error.recently.numberOfRecordsPerRow }}
    {{ partial "recently.html" (dict "context" $page "isVertical" false "sections" $sections "numberOfRecords" $numberOfRecords "numberOfRecordsPerRow" $numberOfRecordsPerRow) }}
</main>
{{ end }}
